for ibm cloud production environment

In [1]:
import dotenv
import os

from langchain.chains import LLMChain
from langchain import PromptTemplate

from genai.credentials import Credentials
from genai.extensions.langchain import LangChainInterface
from genai.schemas import GenerateParams
from genai.model import Model

# from ibm_watson_machine_learning.foundation_models.utils.enums import ModelTypes
# from ibm_watson_machine_learning.foundation_models import Model
# from ibm_watson_machine_learning.metanames import GenTextParamsMetaNames as GenParams
# from ibm_watson_machine_learning.foundation_models.extensions.langchain import WatsonxLLM

In [12]:
dotenv.load_dotenv()

api_key = os.getenv("GENAI_KEY", None)
api_endpoint = os.getenv("GENAI_API", None)

creds = Credentials(api_key,api_endpoint)

params = GenerateParams(
    decoding_method="greedy",
    max_new_tokens=1000,
    min_new_tokens=15,
    stop_sequences=['\n\n']
).dict()

# api_key = os.getenv("API_KEY", None)
# project_id = os.getenv("PROJECT_ID", None)

# creds = {
#     "url"    : "https://us-south.ml.cloud.ibm.com",
#     "apikey" : api_key
# }

# params = {
#     GenParams.DECODING_METHOD:"greedy",
#     GenParams.MAX_NEW_TOKENS:1000,
#     GenParams.MIN_NEW_TOKENS:15
# }

In [21]:
# model = Model(ModelTypes.LLAMA_2_70B_CHAT,creds,params,project_id)
# model = Model(model="codellama/codellama-34b-instruct",credentials=creds, params=params)
model = Model(model="bigcode/starcoder",credentials=creds, params=params)

In [14]:
file = open("sample.sql", "r")
sql = file.readlines()

file = open("sample_translated.sql", "r")
sql_translated = file.readlines()

In [15]:
from sql_metadata import Parser

parser = Parser(''.join(sql_translated))
for qry in parser.subqueries.values():
    print(f"subquery- {qry}")

subquery- SELECT e.party_intl_nbr, q.dte_of_birth_incorporation, q.education_lvl, q.total_asset, q.mthly_income, q.blind_ind, q.impaired_ind, q.quest_id, q.quest_type, q.raq_chnl, q.sign_dte, q.sign_time, q.version, q.br_code, q.risk_status, CASE WHEN q.sign_dte <= date_add(DATE '?Month_End_Dte', interval -12 MONTH) THEN 'E' WHEN ROUND(date_diff(DATE '?Month_End_Dte', q.dte_of_birth_incorporation, DAY) / NUMERIC '365.25', 2, 'ROUND_HALF_EVEN') BETWEEN 18 AND NUMERIC '24.99' AND upper(q.quest_type) = 'RI' AND q.version >= 6 AND substr(q.quest_ans, 1, 1) = '1' THEN real_risk_lvl WHEN ROUND(date_diff(DATE '?Month_End_Dte', q.dte_of_birth_incorporation, DAY) / NUMERIC '365.25', 2, 'ROUND_HALF_EVEN') BETWEEN 25 AND NUMERIC '34.99' AND upper(q.quest_type) = 'RI' AND q.version >= 6 AND substr(q.quest_ans, 1, 1) = '2' THEN real_risk_lvl WHEN ROUND(date_diff(DATE '?Month_End_Dte', q.dte_of_birth_incorporation, DAY) / NUMERIC '365.25', 2, 'ROUND_HALF_EVEN') BETWEEN 35 AND NUMERIC '50.99' AND upper(q.quest_type) = 'RI' AND q.version >= 6 AND substr(q.quest_ans, 1, 1) = '3' THEN real_risk_lvl WHEN ROUND(date_diff(DATE '?Month_End_Dte', q.dte_of_birth_incorporation, DAY) / NUMERIC '365.25', 2, 'ROUND_HALF_EVEN') BETWEEN 51 AND NUMERIC '64.99' AND upper(q.quest_type) = 'RI' AND q.version >= 6 AND substr(q.quest_ans, 1, 1) = '4' THEN real_risk_lvl WHEN ROUND(date_diff(DATE '?Month_End_Dte', q.dte_of_birth_incorporation, DAY) / NUMERIC '365.25', 2, 'ROUND_HALF_EVEN') >= 65 AND upper(q.quest_type) = 'RI' AND q.version >= 6 AND substr(q.quest_ans, 1, 1) = '5' THEN real_risk_lvl WHEN upper(q.quest_type) = 'RC' THEN real_risk_lvl ELSE 'O' END AS risk_lvl, CASE WHEN length(trim(q.quest_ans)) = 40 THEN substr(q.quest_ans, 1, 1) ELSE '' END AS ans_1, CASE WHEN length(trim(q.quest_ans)) = 40 THEN substr(q.quest_ans, 2, 1) ELSE substr(q.quest_ans, 1, 1) END AS ans_2, CASE WHEN length(trim(q.quest_ans)) = 40 THEN substr(q.quest_ans, 3, 1) ELSE substr(q.quest_ans, 2, 1) END AS ans_3, CASE WHEN length(trim(q.quest_ans)) = 40 THEN substr(q.quest_ans, 4, 1) ELSE substr(q.quest_ans, 3, 1) END AS ans_4, CASE WHEN length(trim(q.quest_ans)) = 40 THEN substr(q.quest_ans, 5, 1) ELSE substr(q.quest_ans, 4, 1) END AS ans_5, CASE WHEN length(trim(q.quest_ans)) = 40 THEN substr(q.quest_ans, 6, 1) ELSE substr(q.quest_ans, 5, 1) END AS ans_6, CASE WHEN length(trim(q.quest_ans)) = 40 THEN substr(q.quest_ans, 7, 1) ELSE substr(q.quest_ans, 6, 1) END AS ans_7, CASE WHEN length(trim(q.quest_ans)) = 40 THEN substr(q.quest_ans, 8, 1) ELSE substr(q.quest_ans, 7, 1) END AS ans_8ia, CASE WHEN length(trim(q.quest_ans)) = 40 THEN substr(q.quest_ans, 9, 1) ELSE substr(q.quest_ans, 8, 1) END AS ans_8ib, CASE WHEN length(trim(q.quest_ans)) = 40 THEN substr(q.quest_ans, 10, 1) ELSE substr(q.quest_ans, 9, 1) END AS ans_8iia, CASE WHEN length(trim(q.quest_ans)) = 40 THEN substr(q.quest_ans, 11, 1) ELSE substr(q.quest_ans, 10, 1) END AS ans_8iib, CASE WHEN length(trim(q.quest_ans)) = 40 THEN substr(q.quest_ans, 12, 1) ELSE substr(q.quest_ans, 11, 1) END AS ans_8iiia, CASE WHEN length(trim(q.quest_ans)) = 40 THEN substr(q.quest_ans, 13, 1) ELSE substr(q.quest_ans, 12, 1) END AS ans_8iiib, CASE WHEN length(trim(q.quest_ans)) = 40 THEN substr(q.quest_ans, 14, 1) ELSE substr(q.quest_ans, 13, 1) END AS ans_8iva, CASE WHEN length(trim(q.quest_ans)) = 40 THEN substr(q.quest_ans, 15, 1) ELSE substr(q.quest_ans, 14, 1) END AS ans_8ivb, CASE WHEN length(trim(q.quest_ans)) = 40 THEN substr(q.quest_ans, 16, 1) ELSE substr(q.quest_ans, 15, 1) END AS ans_8va, CASE WHEN length(trim(q.quest_ans)) = 40 THEN substr(q.quest_ans, 17, 1) ELSE substr(q.quest_ans, 16, 1) END AS ans_8vb, CASE WHEN length(trim(q.quest_ans)) = 40 THEN substr(q.quest_ans, 18, 1) ELSE substr(q.quest_ans, 17, 1) END AS ans_8via, CASE WHEN length(trim(q.quest_ans)) = 40 THEN substr(q.quest_ans, 19, 1) ELSE substr(q.quest_ans, 18, 1) END AS ans_8vib, CASE WHEN length(trim(q.quest_ans)) = 40 THEN substr(q.quest_ans, 20, 1) ELSE substr(q.quest_ans, 19, 1) END AS ans_8viia, CASE WHEN length(trim(q.quest_ans)) = 40 THEN substr(q.quest_ans, 21, 1) ELSE substr(q.quest_ans, 20, 1) END AS ans_8viib, CASE WHEN length(trim(q.quest_ans)) = 40 THEN substr(q.quest_ans, 22, 1) ELSE substr(q.quest_ans, 21, 1) END AS ans_8viiia, CASE WHEN length(trim(q.quest_ans)) = 40 THEN substr(q.quest_ans, 23, 1) ELSE substr(q.quest_ans, 22, 1) END AS ans_8viiib, CASE WHEN length(trim(q.quest_ans)) = 40 THEN substr(q.quest_ans, 24, 1) ELSE substr(q.quest_ans, 23, 1) END AS ans_8ixa, CASE WHEN length(trim(q.quest_ans)) = 40 THEN substr(q.quest_ans, 25, 1) ELSE substr(q.quest_ans, 24, 1) END AS ans_8ixb, CASE WHEN length(trim(q.quest_ans)) = 40 THEN substr(q.quest_ans, 26, 1) ELSE substr(q.quest_ans, 25, 1) END AS ans_8xa, CASE WHEN length(trim(q.quest_ans)) = 40 THEN substr(q.quest_ans, 27, 1) ELSE substr(q.quest_ans, 26, 1) END AS ans_8xb, CASE WHEN length(trim(q.quest_ans)) = 40 THEN substr(q.quest_ans, 28, 1) ELSE substr(q.quest_ans, 27, 1) END AS ans_8xia, CASE WHEN length(trim(q.quest_ans)) = 40 THEN substr(q.quest_ans, 29, 1) ELSE substr(q.quest_ans, 28, 1) END AS ans_8xib, CASE WHEN length(trim(q.quest_ans)) = 40 THEN substr(q.quest_ans, 30, 1) ELSE substr(q.quest_ans, 29, 1) END AS ans_8xiia, CASE WHEN length(trim(q.quest_ans)) = 40 THEN substr(q.quest_ans, 31, 1) ELSE substr(q.quest_ans, 30, 1) END AS ans_8xiib, CASE WHEN length(trim(q.quest_ans)) = 40 THEN substr(q.quest_ans, 32, 1) ELSE substr(q.quest_ans, 31, 1) END AS ans_8xiiia, CASE WHEN length(trim(q.quest_ans)) = 40 THEN substr(q.quest_ans, 33, 1) ELSE substr(q.quest_ans, 32, 1) END AS ans_8xiiib, CASE WHEN length(trim(q.quest_ans)) = 40 THEN substr(q.quest_ans, 34, 1) ELSE substr(q.quest_ans, 33, 1) END AS ans_8xiva, CASE WHEN length(trim(q.quest_ans)) = 40 THEN substr(q.quest_ans, 35, 1) ELSE substr(q.quest_ans, 34, 1) END AS ans_8xivb, CASE WHEN length(trim(q.quest_ans)) = 40 THEN substr(q.quest_ans, 36, 1) ELSE substr(q.quest_ans, 35, 1) END AS ans_8xva, CASE WHEN length(trim(q.quest_ans)) = 40 THEN substr(q.quest_ans, 37, 1) ELSE substr(q.quest_ans, 36, 1) END AS ans_8xvb, CASE WHEN length(trim(q.quest_ans)) = 40 THEN substr(q.quest_ans, 38, 1) ELSE substr(q.quest_ans, 37, 1) END AS ans_8xvia, CASE WHEN length(trim(q.quest_ans)) = 40 THEN substr(q.quest_ans, 39, 1) ELSE substr(q.quest_ans, 38, 1) END AS ans_8xvib, CASE WHEN length(trim(q.quest_ans)) = 40 THEN substr(q.quest_ans, 40, 1) ELSE substr(q.quest_ans, 39, 1) END AS ans_9, e.org_business_type_code AS biz_type, first_vul_cust, final_vul_cust, observe_impaired_ind FROM (SELECT * FROM irn_raq WHERE (irn_raq.doc_type_code, irn_raq.doc_nbr, irn_raq.issue_country_code, concat(irn_raq.sign_dte, irn_raq.sign_time)) IN (SELECT AS STRUCT doc_type_code, doc_nbr, issue_country_code, max(concat(sign_dte, sign_time)) FROM irn_raq AS irn_raq_0 WHERE sign_dte <= DATE '?Month_End_Dte' GROUP BY 1, 2, 3) AND irn_raq.quest_type NOT IN ('PI', 'PC')) AS q LEFT OUTER JOIN (SELECT s.*, e_0.party_intl_nbr FROM party_cis AS s CROSS JOIN party_entity AS e_0 WHERE e_0.doc_nbr = s.doc_nbr AND e_0.doc_type_code = s.doc_type_code AND e_0.issue_country_code = s.issue_country_code AND upper(e_0.entity_nbr) = '0015') AS e ON q.doc_nbr = e.doc_nbr AND q.doc_type_code = e.doc_type_code AND q.issue_country_code = e.issue_country_code
subquery- SELECT * FROM irn_raq WHERE (irn_raq.doc_type_code, irn_raq.doc_nbr, irn_raq.issue_country_code, concat(irn_raq.sign_dte, irn_raq.sign_time)) IN (SELECT AS STRUCT doc_type_code, doc_nbr, issue_country_code, max(concat(sign_dte, sign_time)) FROM irn_raq AS irn_raq_0 WHERE sign_dte <= DATE '?Month_End_Dte' GROUP BY 1, 2, 3) AND irn_raq.quest_type NOT IN ('PI', 'PC')
subquery- SELECT s.*, e_0.party_intl_nbr FROM party_cis AS s CROSS JOIN party_entity AS e_0 WHERE e_0.doc_nbr = s.doc_nbr AND e_0.doc_type_code = s.doc_type_code AND e_0.issue_country_code = s.issue_country_code AND upper(e_0.entity_nbr) = '0015'
subquery- SELECT DISTINCT e.party_intl_nbr, 'Y' AS with_bea_invest_acct_rels FROM party_acct AS a CROSS JOIN acct AS t CROSS JOIN party_entity AS e WHERE acct_party_end_dte > DATE '?Month_End_Dte' AND acct_close_dte > DATE '?Month_End_Dte' AND acct_party_role_code IN ('1', '2') AND a.acct_nbr = t.acct_nbr AND a.appl_id = t.appl_id AND a.control_fields = t.control_fields AND a.doc_nbr = e.doc_nbr AND a.doc_type_code = e.doc_type_code AND a.issue_country_code = e.issue_country_code AND upper(e.entity_nbr) = '0015' AND a.appl_id IN ('LDS', 'SCS')
subquery- SELECT DISTINCT e.party_intl_nbr, 'Y' AS pi_warning FROM party_warning AS a CROSS JOIN party_entity AS e WHERE upper(warning_categ_code) = '048' AND a.doc_nbr = e.doc_nbr AND a.doc_type_code = e.doc_type_code AND a.issue_country_code = e.issue_country_code AND upper(e.entity_nbr) = '0015' AND end_dte > DATE '?Month_End_Dte'
subquery- SELECT DISTINCT e.party_intl_nbr, 'Y' AS vulnerable_customer FROM (SELECT irn_raq.* FROM irn_raq WHERE (irn_raq.doc_type_code, irn_raq.doc_nbr, irn_raq.issue_country_code, concat(irn_raq.sign_dte, irn_raq.sign_time)) IN (SELECT AS STRUCT irn_raq.doc_type_code, irn_raq.doc_nbr, irn_raq.issue_country_code, max(concat(irn_raq.sign_dte, irn_raq.sign_time)) FROM irn_raq AS irn_raq_0 WHERE irn_raq.sign_dte <= DATE '?Month_End_Dte' GROUP BY 1, 2, 3) AND irn_raq.quest_type NOT IN ('PI', 'PC')) AS a CROSS JOIN party_entity AS e WHERE a.doc_nbr = e.doc_nbr AND a.doc_type_code = e.doc_type_code AND a.issue_country_code = e.issue_country_code AND upper(e.entity_nbr) = '0015' AND(ROUND(date_diff(DATE '?Month_End_Dte', dte_of_birth_incorporation, DAY) / NUMERIC '365.25', 2, 'ROUND_HALF_EVEN') >= 65 OR upper(education_lvl) = '1' OR upper(blind_ind) = 'Y' OR upper(impaired_ind) = 'Y' OR upper(mthly_income) = '1' OR upper(total_asset) = '1' OR upper(observe_impaired_ind) = 'Y' OR upper(final_vul_cust) = 'Y')
subquery- SELECT irn_raq.* FROM irn_raq WHERE (irn_raq.doc_type_code, irn_raq.doc_nbr, irn_raq.issue_country_code, concat(irn_raq.sign_dte, irn_raq.sign_time)) IN (SELECT AS STRUCT irn_raq.doc_type_code, irn_raq.doc_nbr, irn_raq.issue_country_code, max(concat(irn_raq.sign_dte, irn_raq.sign_time)) FROM irn_raq AS irn_raq_0 WHERE irn_raq.sign_dte <= DATE '?Month_End_Dte' GROUP BY 1, 2, 3) AND irn_raq.quest_type NOT IN ('PI', 'PC')

In [17]:
few_shot_prompt = f"""Input:
sel dtab1
Output:
SELECT dtab1
Input:                                                
when PI_Warning = 'Y' then 'Y'
Output:
WHEN upper(dtabw.pi_warning) = 'Y' THEN 'Y'
Input:
when PI_Warning is null then null else 'N' end  "Professional_Investor"
Output:
WHEN dtabw.pi_warning IS NULL THEN CAST(NULL as STRING) ELSE 'N' END AS professional_investor
Input:
when q.sign_dte <= add_months(date '?Month_End_Dte', -12) then 'E'                                         
Output:
WHEN q.sign_dte <= date_add(DATE '?Month_End_Dte', interval -12 MONTH) THEN 'E'
Input:
when (date '?Month_End_Dte'-dte_of_birth_incorporation)/365.25 between 18 and 24.99 and quest_type = 'RI' and version >= 6 and substr(q.quest_ans, 1,1) = '1' then real_risk_lvl
Output:
WHEN ROUND(date_diff(DATE '?Month_End_Dte', q.dte_of_birth_incorporation, DAY) / NUMERIC '365.25', 2, 'ROUND_HALF_EVEN') BETWEEN 18 AND NUMERIC '24.99' AND upper(q.quest_type) = 'RI' AND q.version >= 6 AND substr(q.quest_ans, 1, 1) = '1' THEN real_risk_lvl"""

In [19]:
for qry in parser.subqueries.values():
    prompt = f'''help me convert this Teradata SQL to BigQuery SQL and end with two newline:
    {few_shot_prompt}
    Input:
    {qry}
    Output:'''

    # response_text = model.generate_text(prompt)
    # print(response_text)
    response_text = model.generate([prompt])
    print("\nresult:\n\n")
    for resp in response_text:
        print(resp.generated_text)

result:



    SELECT e.party_intl_nbr, q.dte_of_birth_incorporation, q.education_lvl, q.total_asset, q.mthly_income, q.blind_ind, q.impaired_ind, q.quest_id, q.quest_type, q.raq_chnl, q.sign_dte, q.sign_time, q.version, q.br_code, q.risk_status, CASE WHEN q.sign_dte <= date_add(DATE '?Month_End_Dte', interval -12 MONTH) THEN 'E' WHEN ROUND(date_diff(DATE '?Month_End_Dte', q.dte_of_birth_incorporation, DAY) / NUMERIC '365.25', 2, 'ROUND_HALF_EVEN') BETWEEN 18 AND 24.99 AND upper(q.quest_type) = 'RI' AND q.version >= 6 AND substr(q.quest_ans, 1, 1) = '1' THEN real_risk_lvl WHEN ROUND(date_diff(DATE '?Month_End_Dte', q.

result:



    SELECT * FROM irn_raq
    WHERE (irn_raq.doc_type_code, irn_raq.doc_nbr, irn_raq.issue_country_code, concat(irn_raq.sign_dte, irn_raq.sign_time)) IN (
      SELECT AS STRUCT doc_type_code, doc_nbr, issue_country_code, max(concat(sign_dte, sign_time))
      FROM irn_raq AS irn_raq_0
      WHERE sign_dte <= DATE '?Month_End_Dte'
      GROUP BY 1, 2, 3
    )
    AND upper(irn_raq.quest_type) NOT IN ('PI', 'PC')



result:



    SELECT s.*, e_0.party_intl_nbr
    FROM party_cis AS s
    CROSS JOIN party_entity AS e_0
    WHERE e_0.doc_nbr = s.doc_nbr
    AND e_0.doc_type_code = s.doc_type_code
    AND e_0.issue_country_code = s.issue_country_code
    AND upper(e_0.entity_nbr) = '0015'



result:



    SELECT DISTINCT e.party_intl_nbr, 'Y' AS with_bea_invest_acct_rels
    FROM party_acct AS a
    CROSS JOIN acct AS t
    CROSS JOIN party_entity AS e
    WHERE acct_party_end_dte > DATE '?Month_End_Dte'
    AND acct_close_dte > DATE '?Month_End_Dte'
    AND acct_party_role_code IN ('1', '2')
    AND a.acct_nbr = t.acct_nbr
    AND a.appl_id = t.appl_id
    AND a.control_fields = t.control_fields
    AND a.doc_nbr = e.doc_nbr
    AND a.doc_type_code = e.doc_type_code
    AND a.issue_country_code = e.issue_country_code
    AND upper(e.entity_nbr) = '0015'
    AND a.appl_id IN ('LDS', 'SCS')



result:



    SELECT DISTINCT e.party_intl_nbr, 'Y' AS pi_warning
    FROM party_warning AS a
    CROSS JOIN party_entity AS e
    WHERE upper(a.warning_categ_code) = '048'
    AND a.doc_nbr = e.doc_nbr
    AND a.doc_type_code = e.doc_type_code
    AND a.issue_country_code = e.issue_country_code
    AND upper(e.entity_nbr) = '0015'
    AND e.end_dte > DATE '?Month_End_Dte'



result:



    SELECT DISTINCT e.party_intl_nbr, 'Y' AS vulnerable_customer FROM (SELECT irn_raq.* FROM irn_raq WHERE (irn_raq.doc_type_code, irn_raq.doc_nbr, irn_raq.issue_country_code, concat(irn_raq.sign_dte, irn_raq.sign_time)) IN (SELECT AS STRUCT irn_raq.doc_type_code, irn_raq.doc_nbr, irn_raq.issue_country_code, max(concat(irn_raq.sign_dte, irn_raq.sign_time)) FROM irn_raq AS irn_raq_0 WHERE irn_raq.sign_dte <= DATE '?Month_End_Dte' GROUP BY 1, 2, 3) AND irn_raq.quest_type NOT IN ('PI', 'PC')) AS a CROSS JOIN party_entity AS e WHERE a.doc_nbr = e.doc_nbr AND a.doc_type_code = e.doc_type_code AND a.issue_country_code = e.issue_country_code AND upper(e.entity_nbr) = '0015' AND(ROUND(date_diff(DATE '?Month_End_Dte', dte_of_birth_incorporation, DAY) / NUMERIC '365.25', 2, 'ROUND_HALF_EVEN') >= 65 OR upper(education_lvl) = '1' OR upper(blind_ind) = 'Y' OR upper(impaired_ind) = 'Y' OR upper(mthly_income) = '1' OR upper(total_asset) = '1' OR upper(observe_impaired_ind) = 'Y' OR upper(final_vul_cust) = 'Y')



result:



    SELECT * FROM irn_raq
    WHERE (irn_raq.doc_type_code, irn_raq.doc_nbr, irn_raq.issue_country_code, concat(irn_raq.sign_dte, irn_raq.sign_time)) IN (
      SELECT AS STRUCT irn_raq.doc_type_code, irn_raq.doc_nbr, irn_raq.issue_country_code, max(concat(irn_raq.sign_dte, irn_raq.sign_time))
      FROM irn_raq AS irn_raq_0
      WHERE irn_raq.sign_dte <= DATE '?Month_End_Dte'
      GROUP BY 1, 2, 3
    ) AND upper(irn_raq.quest_type) NOT IN ('PI', 'PC')

In [22]:
prompt = f'''help me convert this Teradata SQL to BigQuery SQL and end with two newline:
{few_shot_prompt}
Input:
{sql}
Output:'''

# response_text = model.generate_text(prompt)
# print(response_text)
previous_output = ""
for i in range(5):
    prompt += previous_output
    response_text = model.generate([prompt])
    
    previous_output = ""
    for resp in response_text:
        previous_output += resp.generated_text
        print(resp.generated_text)

/** RAQ **/

SELECT
  dtab1.*,
  CASE
    WHEN upper(dtabw.pi_warning) = 'Y' THEN 'Y'
    WHEN dtabw.pi_warning IS NULL THEN CAST(NULL AS STRING) ELSE 'N' END AS professional_investor,
  CASE
    WHEN upper(dtabv.vulnerable_customer) = 'Y' THEN 'Y'
    WHEN dtabv.vulnerable_customer IS NULL THEN CAST(NULL AS STRING) ELSE 'N' END AS vulnerable_customer,
  CASE
    WHEN upper(dtabq.with_bea_invest_acct_rels) = 'Y' THEN 'Y' ELSE 'N' END AS with_bea_invest_acct_rels
FROM (
  SELECT
    e.party_intl_nbr,
    q.dte_of_birth_incorporation,
    q.education_lvl,
    q.total_asset,
    q.mthly_income,
    q.blind_ind,
    q.impaired_ind,
    q.quest_id,
    q.quest_type,
    q.raq_chnl,
    q.sign_dte,
    q.sign_time,
    q.version,
    q.br_code,
    q.risk_status,
    CASE
      WHEN q.sign_dte <= date_add(DATE '?Month_End_Dte', interval -12 MONTH) THEN 'E'
      WHEN ROUND(date_diff(DATE '?Month_End_Dte', q.dte_of_birth_incorporation, DAY) / NUMERIC '365.25', 2, 'ROUND_HALF_EVEN') BETWEEN 18 AND NUMERIC '24.99' AND upper(q.quest_type) = 'RI' AND q.version >= 6 AND substr(q.quest_ans, 1, 1) = '1' THEN real_risk_lvl
      WHEN ROUND(date_diff(DATE '?Month_End_Dte', q.dte_of_birth_incorporation, DAY) / NUMERIC '365.25', 2, 'ROUND_HALF_EVEN') BETWEEN 25 AND NUMERIC '34.99' AND upper(q.quest_type) = 'RI' AND q.version >= 6 AND substr(q.quest_ans, 1, 1) = '2' THEN real_risk_lvl
      WHEN ROUND(date_diff(DATE '?Month_End_Dte', q.dte_of_birth_incorporation, DAY) / NUMERIC '365.25', 2, 'ROUND_HALF_EVEN') BETWEEN 35 AND NUMERIC '50.99' AND upper(q.quest_type) = 'RI' AND q.version >= 6 AND substr(q.quest_ans, 1, 1) = '3' THEN real_risk_lvl
      WHEN ROUND(date_diff(DATE '?Month_End_Dte', q.dte_of_birth_incorporation, DAY) / NUMERIC '365.25', 2, 'ROUND_HALF_EVEN') BETWEEN 51 AND NUMERIC '64.99' AND upper(q.quest_type) = 'RI' AND q.version >= 6 AND substr(q.quest_ans, 1, 1) = '4' THEN real_risk_lvl
      WHEN ROUND(date_diff(DATE '?Month_End_Dte', q.dte_of_birth_incorporation, DAY) / NUMERIC '365.25', 2, 'ROUND_HALF_EVEN') >= 65 AND upper(q.quest_type) = 'RI' AND q.version >= 6 AND substr(q.quest_ans, 1, 1) = '5' THEN real_risk_lvl
      WHEN upper(q.quest_type) = 'RC' THEN real_risk_lvl
      ELSE 'O' END AS risk_lvl,
    CASE
      WHEN length(trim(q.quest_ans)) = 40 THEN substr(q.quest_ans, 1, 1) ELSE '' END AS ans_1,
    CASE
      WHEN length(trim(q.quest_ans)) = 40 THEN substr(q.quest_ans, 2, 1) ELSE substr(q.quest_ans, 1, 1) END AS ans
_2,
    CASE
      WHEN length(trim(q.quest_ans)) = 40 THEN substr(q.quest_ans, 3, 1) ELSE substr(q.quest_ans, 2, 1) END AS ans_3,
    CASE
      WHEN length(trim(q.quest_ans)) = 40 THEN substr(q.quest_ans, 4, 1) ELSE substr(q.quest_ans, 3, 1) END AS ans_4,
    CASE
      WHEN length(trim(q.quest_ans)) = 40 THEN substr(q.quest_ans, 5, 1) ELSE substr(q.quest_ans, 4, 1) END AS ans_5,
    CASE
      WHEN length(trim(q.quest_ans)) = 40 THEN substr(q.quest_ans, 6, 1) ELSE substr(q.quest_ans, 5, 1) END AS ans_6,
    CASE
      WHEN length(trim(q.quest_ans)) = 40 THEN substr(q.quest_ans, 7, 1) ELSE substr(q.quest_ans, 6, 1) END AS ans_7,
    CASE
      WHEN length(trim(q.quest_ans)) = 40 THEN substr(q.quest_ans, 8, 1) ELSE substr(q.quest_ans, 7, 1) END AS ans_8ia,
    CASE
      WHEN length(trim(q.quest_ans)) = 40 THEN substr(q.quest_ans, 9, 1) ELSE substr(q.quest_ans, 8, 1) END AS ans_8ib,
    CASE
      WHEN length(trim(q.quest_ans)) = 40 THEN substr(q.quest_ans, 10, 1) ELSE substr(q.quest_ans, 9, 1) END AS ans_8iia,
    CASE
      WHEN length(trim(q.quest_ans)) = 40 THEN substr(q.quest_ans, 11, 1) ELSE substr(q.quest_ans, 10, 1) END AS ans_8iib,
    CASE
      WHEN length(trim(q.quest_ans)) = 40 THEN substr(q.quest_ans, 12, 1) ELSE substr(q.quest_ans, 11, 1) END AS ans_8iiia,
    CASE
      WHEN length(trim(q.quest_ans)) = 40 THEN substr(q.quest_ans, 13, 1) ELSE substr(q.quest_ans, 12, 1) END AS ans_8iiib,
    CASE
      WHEN length(trim(q.quest_ans)) = 40 THEN substr(q.quest_ans, 14, 1) ELSE substr(q.quest_ans, 13, 1) END AS ans_8iva,
    CASE
      WHEN length(trim(q.quest_ans)) = 40 THEN substr(q.quest_ans, 15, 1) ELSE substr(q.quest_ans, 14, 1) END AS ans_8ivb,
    CASE
      WHEN length(trim(q.quest_ans)) = 40 THEN substr(q.quest_ans, 16, 1) ELSE substr(q.quest_ans, 15, 1) END AS ans_8va,
    CASE
      WHEN length(trim(q.quest_ans)) = 40 THEN substr(q.quest_ans, 17, 1) ELSE substr(q.quest_ans, 16, 1) END AS ans_8vb,
    CASE
      WHEN length(trim(q.quest_ans)) = 40 THEN substr(q.quest_ans, 18, 1) ELSE substr(q.quest_ans, 17, 1) END AS ans_8via,
    CASE
      WHEN length(trim(q.quest_ans)) = 40 THEN substr(q.quest_ans, 19, 1) ELSE substr(q.quest_ans, 18, 1) END AS ans_8vib,
    CASE
      WHEN length(trim(q.quest_ans)) = 40 THEN substr(q.quest_ans, 20, 1) ELSE substr(q.quest_ans
, 19, 1) END AS ans_8viia,
    CASE
      WHEN length(trim(q.quest_ans)) = 40 THEN substr(q.quest_ans, 21, 1) ELSE substr(q.quest_ans, 20, 1) END AS ans_8viib,
    CASE
      WHEN length(trim(q.quest_ans)) = 40 THEN substr(q.quest_ans, 22, 1) ELSE substr(q.quest_ans, 21, 1) END AS ans_8viiia,
    CASE
      WHEN length(trim(q.quest_ans)) = 40 THEN substr(q.quest_ans, 23, 1) ELSE substr(q.quest_ans, 22, 1) END AS ans_8viiib,
    CASE
      WHEN length(trim(q.quest_ans)) = 40 THEN substr(q.quest_ans, 24, 1) ELSE substr(q.quest_ans, 23, 1) END AS ans_8ixa,
    CASE
      WHEN length(trim(q.quest_ans)) = 40 THEN substr(q.quest_ans, 25, 1) ELSE substr(q.quest_ans, 24, 1) END AS ans_8ixb,
    CASE
      WHEN length(trim(q.quest_ans)) = 40 THEN substr(q.quest_ans, 26, 1) ELSE substr(q.quest_ans, 25, 1) END AS ans_8xa,
    CASE
      WHEN length(trim(q.quest_ans)) = 40 THEN substr(q.quest_ans, 27, 1) ELSE substr(q.quest_ans, 26, 1) END AS ans_8xb,
    CASE
      WHEN length(trim(q.quest_ans)) = 40 THEN substr(q.quest_ans, 28, 1) ELSE substr(q.quest_ans, 27, 1) END AS ans_8xia,
    CASE
      WHEN length(trim(q.quest_ans)) = 40 THEN substr(q.quest_ans, 29, 1) ELSE substr(q.quest_ans, 28, 1) END AS ans_8xib,
    CASE
      WHEN length(trim(q.quest_ans)) = 40 THEN substr(q.quest_ans, 30, 1) ELSE substr(q.quest_ans, 29, 1) END AS ans_8xiia,
    CASE
      WHEN length(trim(q.quest_ans)) = 40 THEN substr(q.quest_ans, 31, 1) ELSE substr(q.quest_ans, 30, 1) END AS ans_8xiib,
    CASE
      WHEN length(trim(q.quest_ans)) = 40 THEN substr(q.quest_ans, 32, 1) ELSE substr(q.quest_ans, 31, 1) END AS ans_8xiiia,
    CASE
      WHEN length(trim(q.quest_ans)) = 40 THEN substr(q.quest_ans, 33, 1) ELSE substr(q.quest_ans, 32, 1) END AS ans_8xiiib,
    CASE
      WHEN length(trim(q.quest_ans)) = 40 THEN substr(q.quest_ans, 34, 1) ELSE substr(q.quest_ans, 33, 1) END AS ans_8xiva,
    CASE
      WHEN length(trim(q.quest_ans)) = 40 THEN substr(q.quest_ans, 35, 1) ELSE substr(q.quest_ans, 34, 1) END AS ans_8xivb,
    CASE
      WHEN length(trim(q.quest_ans)) = 40 THEN substr(q.quest_ans, 36, 1) ELSE substr(q.quest_ans, 35, 1) END AS ans_8xva,
    CASE
      WHEN length(trim(q.quest_ans)) = 40 THEN substr(q.quest_ans, 37, 1) ELSE substr(q.quest_ans, 36, 1) END AS ans_8
xvb,
    CASE
      WHEN length(trim(q.quest_ans)) = 40 THEN substr(q.quest_ans, 38, 1) ELSE substr(q.quest_ans, 37, 1) END AS ans_8xvia,
    CASE
      WHEN length(trim(q.quest_ans)) = 40 THEN substr(q.quest_ans, 39, 1) ELSE substr(q.quest_ans, 38, 1) END AS ans_8xvib,
    CASE
      WHEN length(trim(q.quest_ans)) = 40 THEN substr(q.quest_ans, 40, 1) ELSE substr(q.quest_ans, 39, 1) END AS ans_9,
    e.org_business_type_Code AS biz_type,
    First_Vul_Cust,
    Final_Vul_Cust,
    Observe_Impaired_Ind
  FROM (
    SELECT
      *
    FROM
      irn_raq
    WHERE
      (doc_type_code, doc_nbr, issue_Country_Code, sign_dte || sign_time) IN (
        SELECT
          doc_type_Code,
          doc_nbr,
          issue_Country_Code,
          max(sign_Dte || sign_time)
        FROM
          irn_raq
        WHERE
          sign_dte <= date '?Month_End_Dte'
        GROUP BY
          1,
          2,
          3
      )
      AND quest_type NOT IN ('PI', 'PC')
  ) q
  LEFT OUTER JOIN (
    SELECT
      s.*,
      e.party_intl_nbr
    FROM
      party_cis s,
      party_entity e
    WHERE
      e.doc_nbr = s.doc_nbr
      AND e.doc_Type_Code = s.doc_Type_code
      AND e.issue_Country_code = s.issue_Country_Code
      AND e.entity_nbr = '0015'
  ) e ON q.doc_nbr = e.doc_nbr
    AND q.doc_Type_Code = e.doc_Type_code
    AND q.issue_

GenAiException: b'{"status_code":400,"error":"Bad Request","message":"Invalid argument or out of range","extensions":{"code":"INVALID_INPUT","reason":"3 INVALID_ARGUMENT: input tokens (8192) plus prefix length (0) must be < 8192"}}'